@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Encontre o CNPJ</h1>
    <p><a href="https://github.com/iamnabia/CNPJApiCerto">Link para o repositositorio da API</a>.</p>
</div>
